doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=Edge')
  meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
  title= t("application.title")
  meta(name='keywords' content= t('application.keywords'))
  meta(name='description' content= t('application.description'))
  meta(name='author' content='Receive Sms Online Free  Receive-Sms-Free.Net')
  meta(property='og:title' content= t("application.title"))
  meta(property='og:type' content='website')
  meta(property='og:url' content='https://receive-sms-free.net/Free-USA-Phone-Number/14342984462/')
  link(rel='canonical' href='https://receive-sms-free.net/Free-USA-Phone-Number/14342984462/')
  link(rel='Bookmark' href='/favicon.ico')
  link(rel='shortcut icon' href='/favicon.ico')
  include stylesheets.pug
  include scripts.pug
  block extra_stylesheet
#warpper
  include header.pug
  section
    block content
    include ../about_us.pug
include footer.pug
