#foot
  footer
    .footer
      .layout
        .foottou
          .ftcont
            i.i
              a(href='https://receive-sms-free.net/') Receive sms free
            |  &nbsp;&nbsp;|&nbsp;&nbsp;
            i.i
              a(href='/regions/') Countries
            |  &nbsp;&nbsp;|&nbsp;&nbsp;
            i.i
              a(href='/privacy-policy.html') Privacy Policy
            |  &nbsp;&nbsp;|&nbsp;&nbsp;
            i.i
              a(href='/help.html') Help
            |  &nbsp;&nbsp;|&nbsp;&nbsp;
            i.i
              a(href='/contact.html') Contact Us
            |  &nbsp;&nbsp;|&nbsp;&nbsp;
            i.i
              a(href='/sitemap.xml') SiteMap
            p
              | &copy; 2019
              a(href='https://receive-sms-free.net/') Free temporary phone number
              | ,
              a(href='https://receive-sms-free.net/') Receive Sms Online Free
              |  All Rights Reserved.
// footer end
// warpper end
script(type='text/javascript' src='/js/tool.js')
