header
  .header.header-hover1
    .logo
      a(href='/') Receive SMS online free
    .nav
      ul
        li
          a(href='/') Home
        li
          a(href='/Free-HongKong-Phone-Number/') HK
        li
          a(href='/Free-China-Phone-Number/') China
        li
          a(href='/Free-USA-Phone-Number/') US
        li
          a(href='/Free-UK-Phone-Number/') UK
        li
          a(href='/regions/') Countries
        li
          a(href='/Send-Text-Message/')
            b Send Text
        li
          a(href='/Inactive-Phone-Number/') Inactive number
    .btn-m-list
      span
      span
      span
      span
.neirong.neirong-hide
  .neirong-bd
    a.neirong-on(href='/') Home
    a(href='/Free-HongKong-Phone-Number/')
      | HongKong Phone Number
      i
    a(href='/Free-China-Phone-Number/')
      | China Phone Number
      i
    a(href='/Free-USA-Phone-Number/')
      | USA Phone Number
      i
    a(href='/Free-UK-Phone-Number/')
      | UK Phone Number
      i
    a(href='/Free-Russia-Phone-Number/')
      | Russia Phone Number
      i
    a(href='/regions/')
      | Countries
      i
    a(href='/Send-Text-Message/')
      b Send Text Message
      i
    a(href='/Inactive-Phone-Number/')
      | Inactive Phone Number
      i
    a(href='/help.html')
      | Help
      i
    a(href='https://play.google.com/store/apps/details?id=com.receivesms.online' target='_blank')
      | Download APP (Google Play)
      i
  .neirong-close
