script(type='text/javascript' src='/js/jquery.js')
script(type='text/javascript' src='/js/common.js')
// IE9 Media
//if lt IE 9
script(type='text/javascript' src='/js/respond.min.js')
// IE9 HTML5
//if lt IE 9
script(type='text/javascript' src='/js/html5shiv.min.js')
script(type='text/javascript' src='/js/bootstrap.min.js')
script(type='text/javascript' src='/js/clipboard.min.js')
script(type='text/javascript' src='/js/custom.js')
