link(type='text/css' rel='stylesheet' href='/css/bootstrap-sortable.css')
link(type='text/css' rel='stylesheet' href='/css/bootstrap.min.css')
link(rel='stylesheet' type='text/css' href='/css/custom.css')
link(type='text/css' rel='stylesheet' href='/css/bootstrap.3.0.0.css')
link(type='text/css' rel='stylesheet' href='/css/gobal.css')
link(type='text/css' rel='stylesheet' href='/css/style.css?v1.5')
link(type='text/css' rel='stylesheet' href='/css/animate.min.css')
