.section04
  div
    .index-title.wow.fadeInUp(data-wow-delay='0.0s')
      span= t('about_us.title')
  .layout(style='background: #fff; margin-top: 40px')
    .index-news(style='padding: 30px 15px')
      p(style='padding: 10px 0')= t('about_us.body')
